# Project exclude paths

### Gradle ###
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
**/build/
.idea

#####################
# testNG Reports
#####################
testNGOutput
test-output

#####################
# Extent Reports
#####################
ExtentReport-output

#####################
# Logs
#####################
logs

#####################
# Screenshots
#####################
Screenshots