<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlaywrightPoCGSuite" thread-count="2" verbose="4">

    <test verbose="2" name="Home Page Tests">
        <classes>
            <class name="com.tests.HomePageTest"/>
        </classes>
    </test>

    <test verbose="2" name="Login Page Tests">
        <classes>
            <class name="com.tests.LoginPageTest"/>
        </classes>
    </test>

</suite>