<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlaywrightPoCGSuite">
	<test verbose="2" name="PlaywrightPoCGTests">
		<classes>

			<class name="com.tests.CreateDeleteEmpTest">
				<methods>
					<include name="createNewEmployeeTest" />
					<include name="deleteEmployeeTest" />
					<include name="createDeleteEmpTest" />
				</methods>
			</class>

			<class name="com.tests.LoginTest">
				<methods>
					<include name="loginTest" />
				</methods>
			</class>

		</classes>
	</test>
</suite>